{% extends 'Layout.html' %}

<!---->
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">

    <div class="card" style="width: 18rem;">
        <img src="https://images-saved-products.s3.us-west-2.amazonaws.com/leoalonso.jpg" class="card-img-top" alt="image_from_aws">
        <div class="card-body">
            <div class="card-header">
                <h2>
                    {{ product[1] }}
                </h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4> Index {{ product[0]}} </h4></li>
                <li class="list-group-item"> <h4> Precio {{ product[2] }} </h4> </li>
                <li class="list-group-item"><h4>Cantidad {{ product[3] }}</h4></li>
              </ul>
        </div>
        <div class="card-footer">
            <a href="/products" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>

{% endblock %}